<TMPL_INCLUDE name="header.tmpl">
<div id="main">
 <h3>管理者ログインページ</h3>
 <form method="post">
  <input type="hidden" name="rm" value="do_loginadmin"/>
  <label>パスワード<input type="password" name="ADMIN_PASSWORD"></label>
  <input type="submit" value="ログイン"/>
 </form>
</div>
<TMPL_INCLUDE name="footer.tmpl">
