<TMPL_INCLUDE name="header.tmpl">
<div id="main">
<span>Post confirmation</span>
<TMPL_INCLUDE name="post.tmpl">
<div id="stylized" class="no-decoration">
<form action="index.pl" method="post">
<div class="spacer"></div>
<TMPL_LOOP name="HIDDEN_POST">
 <input type="hidden" name="<TMPL_VAR name='HP_NAME'>" value="<TMPL_VAR name='HP_VALUE'>"/>
</TMPL_LOOP>
<div class="posting-form">
<button type="submit" style="width:60px">Confirm</button>
<button type="button" onclick="history.back()" style="width:60px;margin-left:4px">Edit</button>
</div>
<div class="spacer"></div>
</form>
</div>
</div>
<TMPL_INCLUDE name="footer.tmpl">
