<TMPL_INCLUDE name="header.tmpl">
<div id="stylized" class="register-form">
<form method="post">
 <TMPL_IF name="REGISTER_ERROR"><h4><TMPL_VAR name="REGISTER_ERROR"></h4></TMPL_IF>
 <input type="hidden" name="rm" value="do_register"/>
 
<h1>Join now!</h1>
<p>Please fill this sign up form to become a member.</p>

<label>お名前
<span class="small">Add your name</span>
</label>
<input type="text" name="FULLNAME"/>

<label>メール
<span class="small">Add a valid e-mail address</span>
</label>
<input type="text" name="EMAIL" />


<label>ユーザー名前
<span class="small">Your nickname</span>
</label>
<input type="text" name="USERNAME" />

<label>パスワード
<span class="small">Password</span>
</label>
<input type="password" name="PASSWORD"/>

<label>パスワード
<span class="small">も一度</span>
</label>
<input type="password" name="CONFIRM_PASSWORD"/>
 <button type="submit">登録</button>
<div class="spacer"></div>
</form>
<!-- main div ends here-->
</div>

<TMPL_INCLUDE name="footer.tmpl">
